@import '@styles/base.scss';

.layout {
  background-color: var(--color-bg);
  height: 100vh;

  @include apply-at-md-size {
    width: 50%;
    margin: auto;
  }

  @include apply-at-lg-size {
    width: 40%;
    margin: auto;
  }
  @include apply-at-xl-size {
    width: 30%;
    margin: auto;
  }

  .header {
    @include directionX;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: $color-midnight-blue;
    color: $color-white;
    width: 100%;
    padding: 12px 18px;
    box-sizing: border-box;
    z-index: 1;
    text-align: start;

    @include apply-at-md-size {
      width: 50%;
      margin: auto;
    }
    @include apply-at-lg-size {
      width: 40%;
      margin: auto;
    }
    @include apply-at-xl-size {
      width: 30%;
      margin: auto;
    }

    .user {
      @include directionX;
      gap: 12px;
      align-items: center;
    }

    .end {
      cursor: pointer;
    }
  }

  .content {
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 18px;
    padding-right: 18px;
    // width: 100%;

    .yourMessage {
      @include directionX;
      margin-bottom: 8px;
      justify-content: end;

      .bubbleChat {
        padding: 8px 12px;
        background-color: $color-sky-blue;
        border-radius: 10px;
        border-top-right-radius: 0px;
        width: fit-content;
        max-width: 60%;
        color: #fff;
        .text {
          font-size: 14px;
        }
        .time {
          font-size: 12px;
          text-align: end;
        }
      }
    }

    .otherMessage {
      @include directionX;
      margin-bottom: 8px;
      justify-content: start;

      .bubbleChat {
        padding: 8px 12px;
        background-color: $color-light-grey;
        border-radius: 10px;
        border-top-left-radius: 0px;
        width: fit-content;
        max-width: 60%;
        color: $color-black;
        .text {
          font-size: 14px;
        }
        .time {
          font-size: 12px;
          text-align: end;
        }
      }
    }
  }

  .texter {
    @include directionX;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-dark-blue;
    padding: 12px 18px;
    box-sizing: border-box;
    z-index: 1;

    @include apply-at-md-size {
      width: 50%;
      margin: auto;
    }

    @include apply-at-lg-size {
      width: 40%;
      margin: auto;
    }
    @include apply-at-xl-size {
      width: 30%;
      margin: auto;
    }

    .input {
      width: 100%;
      height: 32px;
    }

    .send {
      @include button;
      font-size: 14px;
      margin: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.dialog {
  padding: 18px;

  .title {
    font-size: 18px;
    font-weight: 600;
    color: $color-red;
    margin-bottom: 12px;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
  }

  .submit {
    @include button;
    font-size: 14px;
    width: fit-content;
  }
}
