$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);

$color-black: #252525;
$color-dim-grey: #575553;
$color-grey: #857f7b;
$color-light-grey: #d6d6d4;

$color-dark-blue: #162b46;
$color-night-blue: #0052a0;
$color-midnight-blue: #1c4475;
$color-sky-blue: #279eff;

$color-green: #5c913b;
