@mixin label {
  font-size: 14px;
  color: #857f7b;
}

@mixin input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #0052a0;
  &:focus {
    border: 1.5px solid #0052a0;
    outline: none;
  }
}
