@import '@styles/base.scss';

.banner {
  background-color: #1c4475;
  width: 100%;
  padding: 3% 10%;
  box-sizing: border-box;

  .title {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
  }
  .subTitle {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }

  .search {
    @include directionX;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-top: 28px;
    overflow: hidden;

    .input {
      height: 100%;
      width: 100%;
      padding: 18px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: 18px;
      box-sizing: border-box;
    }
    .button {
      @include directionX;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0px 32px;
      font-size: 18px;
      background-color: #f96d01;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #fff;
    }
  }
}

.shopSection {
  padding: 3%;
  .layout {
    @include directionX;
    .filter {
      display: none;
      width: 280px;
      border: 1px solid var(--color-text);
      border-radius: 10px;
      padding: 12px;
      @include apply-at-md-size {
        display: block;
      }

      .header {
        @include directionX;
        justify-content: space-between;
        padding-bottom: 12px;
        .title {
          font-weight: 600;
        }
        .reset {
          padding: 3px 12px;
          font-size: 14px;
          color: var(--color-bg);
          background-color: var(--color-text);
          border-radius: 25px;
          cursor: pointer;
        }
      }

      .list {
        @include directionY;
        gap: 8px;
        .item {
          @include directionX;
          font-size: 14px;
        }
      }
    }
    .catalogue {
      width: 100%;
      .card {
        width: 100%;
        background-color: var(--color-bg);
        border-radius: 10px;
        min-height: 240px;
        cursor: pointer;
        .productImg {
          overflow: hidden;
          position: relative;
          .image {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
          }

          .empty {
            position: absolute;
            top: 8px;
            right: 12px;
            color: $color-red;
            font-size: 12px;
            font-weight: 500;
          }
        }
        .productInfo {
          @include directionY;
          gap: 3px;
          padding: 12px;
          .title {
            font-size: 16px;
            font-weight: 500;
          }
          .package {
            font-size: 12px;
            font-weight: 400;
          }
          .price {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
