@import '@styles/base.scss';

.layout {
  padding: 5%;
  .mainContent {
    @include apply-at-md-size {
      @include directionX;
      // justify-content: center;
      gap: 48px;
    }
    .imageSection {
      text-align: center;
      @include apply-at-sm-size {
        text-align: start;
      }
      .image {
        width: 320px;
        height: 320px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .infoSection {
      @include directionY;
      gap: 3%;
      margin-top: 18px;
      .name {
        font-size: 28px;
        font-weight: 600;
      }
      .package {
        font-size: 20px;
        font-weight: 400;
      }
      .price {
        color: #306dbd;
        font-size: 28px;
        font-weight: 600;
      }
      .empty {
        font-size: 24px;
        font-weight: 600;
        color: $color-red;
      }
      .button {
        @include button;
        @include directionX;
        gap: 12px;
        align-items: center;
        padding: 12px;
      }
      .quantity {
        @include directionX;
        gap: 12px;
        align-items: center;
        margin-top: 8px;
        .add {
          @include directionX;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          padding: 2px;
          border: 1px solid #306dbd;
          border-radius: 5px;
          background-color: #306dbd;
          color: #fff;
          cursor: pointer;
        }
        .remove {
          @include directionX;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          padding: 2px;
          border: 1px solid #306dbd;
          border-radius: 5px;
          // background-color: #306dbd;
          color: #306dbd;
          cursor: pointer;
        }
      }
    }
  }

  .detailContent {
    margin-top: 32px;
    .section {
      margin-bottom: 18px;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 2;
      }
      .content {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
